<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8" /> 
        <title>Test Client</title>
    </head>
    <body> 
        <div class="page">
            View console.log() for more runtime information...
        </div>
        <script src="/lib/socket-io.min.js"></script>
        <script src="/lib/scans-client.js"></script>
        <script>
            (async () => {
                const client = new SCANSClient(io)

                client.onTaskPreloaded = 
                    async (taskInfo) => {
                        console.log(
                            "\t> onTaskPreloaded() hook for " + 
                            taskInfo.task_id
                        )
                    }

                client.onStreamPreloaded = 
                    async (streamInfo, index, length) => {
                        console.log(
                            "\t> onStreamPreloaded() hook for " + 
                            streamInfo.stream_id 
                        )
                    }

            

                // await client.new([
                //     "YTfq9PweGec",
                //     "Dc6zkjIFCig", 
                //     "1BlFz7HLxDU"
                // ])

                // await client.new([
                //     "YTfq9PweGec"
                // ])

                // await client.new([
                //     "CcjWZWqAUKU"
                // ])

                // sdfdsf
                
                // await client.new([
                //     "YTfq9PweGec", 
                //     "Dc6zkjIFCig",
                //     "-9HI1SbvD-k",
                //     "I-Qo184-ais",
                //     "1BlFz7HLxDU", 
                //     "db0vZePea_g",
                //     "letkzoIsLJ4",
                //     "2aQ34tXN-WY",
                //     "2TcqejpOdeY",
                //     "EmY4_fDYsig"
                // ])

                // --> three streams
                await client.load("f0f5b96c-9e73-43d0-8c17-849eeee14fdd")               

                // --> one stream
                // await client.load("032fc832-da9c-4b68-b097-7dc45f2cab39")

                // --> live stream 
                // await client.load("09ad0c5f-3b40-4377-817c-4b7e0e4421c3")

                // --> ten streams 
                // await client.load("b1057d89-84ce-442c-a05d-b3d1e72bec1c")

                window.client = client 
            })()
        

        </script>
    </body>
</html>